* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.breed-select {
    margin-top: 40px;
    max-width: 300px;
}

.cat-info {
    display: flex;
    gap: 20px;
}

.temperament-label {
    font-weight: 600;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader {
    width: 200px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
    33% {
        background: #fff;
        box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
    }

    66% {
        background: #ff3d00;
        box-shadow: -24px 0 #fff, 24px 0 #fff;
    }

    100% {
        background: #fff;
        box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
    }
}